<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Confession</title>
</head>
<body>
    <div class="card">
        <div class="qoute">
            <form action="/confessions">
                <button>Back</button>
            </form>
            
            <div class="header">
                <a href=""><%= confession.postHash %></a>
                <div class="userProfile">
                    <h3><li><%= confession.user %></li></h3>
                </div>
            </div>
            <h1><%= confession.postTitle %></h1>
            <div class="scroll-container">
                <%= confession.postConfession %>
            </div>
            <div class="socials-container">
                <a href=""><%= confession.postLikes %> Likes</a>
                <a href=""><%= confession.postComments %> Comments</a>
                <a href="/confessions/<%=confession._id%>/edit">Edit</a>
            </div>
        </div>
    </div>
    
</body>
</html>